.App {
  text-align: center;
}

.Logo {
  width: 100px;
  background-color: aquamarine;
  height: 50px;
}

.Search {
width: 100ox;
height: 50px;
background-color: white;
border-radius: 20px;
}
.Navigation{

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header {
  background-color: salmon;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

