.App {
  text-align: center;
}

.Logo {
  width: 100px;
  background-color: aquamarine;
  height: 50px;
}

.Search {
width: 100ox;
height: 50px;
background-color: white;
border-radius: 20px;
}
.Navigation{
  color: white;
  font-weight: bold;
  padding: 10px;
  align-items: center;

}

.Show{
  display: block;
  width: 200px;
  border: 2px;
  margin: 10px;
}







.Header {
  background-color: salmon;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
} 

.ShowList{
  display: grid;
  grid-template-columns: repeat(4,1fr);

} 
