.App {
  text-align: center;
  width: 100%;
}

.Logo {
  width: 100px;
  background-color: aquamarine;
  height: 50px;
}

.Search {
width: 150px;
height: 50px;
background-color: white;
border-radius: 20px;
}
.Navigation {
  color: white;
  font-weight: bold;
  padding: 10px;
  align-items: center;
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.Show {
  display: block;
  width: 200px;
  border: 2px solid block;
  margin: 10px;
  border-radius: 15px;
  
}

.show-image {
  width: 100px;
}





.Header {
  background-color: salmon;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
} 

.ShowList {
  display: grid;
  grid-template-columns: repeat(4,1fr);
} 
